<div class="filter-container">
  <div class="filter-group" *ngIf="flowType === 'cross'">
    <label>Colaborador:</label>
    <select
      [(ngModel)]="selectedMember"
      (ngModelChange)="onFilterChange($event, 'member')"
    >
      <option value="Todos">Todos</option>
      <option *ngFor="let member of members" [value]="member">
        {{ member }}
      </option>
    </select>
  </div>
  <div class="filter-group">
    <label>Release:</label>
    <select
      [(ngModel)]="selectedRelease"
      (ngModelChange)="onFilterChange($event, 'release')"
    >
      <option value="Todos">Todos</option>
      <option *ngFor="let release of releases" [value]="release">
        {{ release }}
      </option>
    </select>
  </div>
  <div class="filter-group">
    <label>Sprint:</label>
    <select
      [(ngModel)]="selectedSprint"
      (ngModelChange)="onFilterChange($event, 'sprint')"
    >
      <option value="Todos">Todos</option>
      <option *ngFor="let sprint of sprints" [value]="sprint">
        {{ sprint }}
      </option>
    </select>
  </div>
  <div class="filter-group">
    <label>Squad:</label>
    <select
      [(ngModel)]="selectedSquad"
      (ngModelChange)="onFilterChange($event, 'squad')"
    >
      <option value="Todos">Todos</option>
      <option *ngFor="let squad of squads" [value]="squad">{{ squad }}</option>
    </select>
  </div>

  <div class="filter-group" *ngIf="flowType === 'squad'">
    <label>Colaborador:</label>
    <select
      [(ngModel)]="selectedMember"
      (ngModelChange)="onFilterChange($event, 'member')"
    >
      <option value="Todos">Todos</option>
      <option *ngFor="let member of members" [value]="member">
        {{ member }}
      </option>
    </select>
  </div>
  <div class="filter-group" *ngIf="showPriority">
    <label>Prioridade:</label>
    <select
      [(ngModel)]="selectedPriority"
      (ngModelChange)="onFilterChange($event, 'priority')"
    >
      <option value="Todos">Todos</option>
      <option *ngFor="let priority of priorities" [value]="priority">
        {{ priority }}
      </option>
    </select>
  </div>

  <div class="clear-filters">
    <button (click)="cleanFilters()">Limpar Filtros</button>
  </div>

</div>
