<div class="container">
  <h1>Planejamento do dia</h1>
  <div class="filter-container">
    <div class="filter-group">
      <ng-content select="[filter]"> </ng-content>
    </div>
  </div>

  <!-- <label for="sortMode">Sort by:</label>
  <select id="sortMode" [(ngModel)]="sortMode" (change)="onSortChange()">
    <option value="manual">Manual</option>
    <option value="priority-desc">Prioridade: Alta → Baixa</option>
    <option value="priority-asc">Prioridade: Baixa → Alta</option>
  </select> -->

  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of dataPlan">
      <div class="card" *ngFor="let value of task" cdkDrag>
        <div class="handle">☰</div>
        <div>
          <h3>{{ value.title }}</h3>
          <p>{{ value.description }}</p>
          <!-- <p *ngIf="task.status">{{ task.status }}</p> -->
        </div>
        <!-- <span class="tag" [ngClass]="task.priority.toLowerCase()">
          {{ task.priority }}
        </span> -->
        <span></span>
      </div>
    </div>
  </div>
</div>
