<h2 class="mb-40">Quadro Kanban</h2>

<div class="filter-container">
  <div class="filter-group">
    <ng-content select="[filter]"> </ng-content>
  </div>

  <div class="filter-group">
    <div class="add-activity-button">
      <button (click)="openModal()">Adicionar Atividades</button>
    </div>
  </div>
</div>

<div class="kanban-board">
  <div
    class="kanban-column"
    *ngFor="let column of board"
    [id]="column.name"
    cdkDropList
    [cdkDropListData]="column.tasks"
    [cdkDropListConnectedTo]="connectedLists"
    (cdkDropListDropped)="drop($event)"
  >
    <h3>{{ column.name }}</h3>
    <div class="task-list">
      <div
        class="task-card"
        *ngFor="let task of column.tasks"
        cdkDrag
        [cdkDragData]="task"
        (click)="updateActivity(task)"
      >
        <h4>{{ task.title }}</h4>
        <p>{{ task.description }}</p>
        <span [ngClass]="getPriorityClass(task.priority)"
          >Prioridade: {{ task.priority }}</span
        >

        <!-- Placeholder Customizado -->
        <div *cdkDragPlaceholder class="custom-placeholder"></div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal" [ngClass]="{ show: isModalOpen }">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h3>{{ isEditing ? "Editar Atividade" : "Nova Atividade" }}</h3>
    <hr />
    <form class="grid-form" [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Título</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Título"
        />
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          placeholder="Descrição"
        />
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" formControlName="status">
          <option value="">Selecione o Status</option>
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Review">Review</option>
          <option value="Done">Done</option>
        </select>
      </div>

      <div class="form-group">
        <label for="release">Release</label>
        <select id="release" formControlName="release">
          <option value="">Selecione a Release</option>
          <option *ngFor="let release of releases" [value]="release">
            {{ release }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="sprint">Sprint</label>
        <select id="sprint" formControlName="sprint">
          <option value="">Selecione a Sprint</option>
          <option *ngFor="let sprint of sprints" [value]="sprint">
            {{ sprint }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="allocatedHours">Horas Alocadas</label>
        <input
          type="number"
          id="allocatedHours"
          formControlName="allocatedHours"
          placeholder="Horas Alocadas"
          min="1"
        />
      </div>

      <div class="form-group">
        <label for="spentHours">Horas Gastas</label>
        <input
          type="number"
          id="spentHours"
          formControlName="spentHours"
          placeholder="Horas Gastas"
          min="0"
        />
      </div>
      <div class="form-group">
        <label for="squad">Squad</label>
        <select
          id="squad"
          [(ngModel)]="newActivity.squad"
          name="squad"
          required
          formControlName="squad"
          (ngModelChange)="onSquadChange($event)"
        >
          <option value="">Selecione a Squad</option>
          <option *ngFor="let squad of squads" [value]="squad">
            {{ squad }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="employeeName">Colaborador</label>
        <select
          id="employeeName"
          [(ngModel)]="newActivity.employeeName"
          name="employeeName"
          required
          formControlName="employeeName"
        >
          <option value="">Selecione o colaborador</option>
          <option *ngFor="let member of members" [value]="member">
            {{ member }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="priority">Prioridade</label>
        <select
          id="priority"
          [(ngModel)]="newActivity.priority"
          name="priority"
          required
          formControlName="priority"
        >
          <option value="">Selecione a prioridade</option>
          <option *ngFor="let priority of prioridades" [value]="priority">
            {{ priority }}
          </option>
        </select>
      </div>

      <div
        class="form-buttons"
        *ngIf="activityForm.get('status')?.value !== 'Done'"
      >
        <button type="submit" class="save-button">
          {{ isEditing ? "Atualizar" : "Salvar" }} Atividade
        </button>
        <button
          type="button"
          class="delete-button"
          *ngIf="isEditing"
          (click)="deleteActivity(editActivityId!)"
        >
          Excluir
        </button>
      </div>
    </form>
  </div>
</div> -->

<div class="modal" [ngClass]="{ show: isModalOpen }">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h3>{{ isEditing ? "Editar Atividade" : "Nova Atividade" }}</h3>
    <hr />
    <form class="grid-form" [formGroup]="activityForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Título</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          placeholder="Título"
        />
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <input
          type="text"
          id="description"
          formControlName="description"
          placeholder="Descrição"
        />
      </div>

      <div class="form-group">
        <label for="priority">priority</label>
        <select
          id="priority"
          name="priority"
          required
          formControlName="priority"
        >
          <option value="">Selecione a prioridade</option>
          <option *ngFor="let priority of prioridades" [value]="priority">
            {{ priority }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select id="status" formControlName="status">
          <option value="">Selecione o Status</option>
          <option value="To Do">To Do</option>
          <option value="In Progress">In Progress</option>
          <option value="Review">Review</option>
          <option value="Done">Done</option>
        </select>
      </div>

      <div class="form-group">
        <label for="release">Release</label>
        <select
          id="release"
          formControlName="release"
        >
          <option value="">Selecione a Release</option>
          <option *ngFor="let release of releases" [value]="release">
            {{ release }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="sprint">Sprint</label>
        <select
          id="sprint"
          formControlName="sprint"
        >
          <option value="">Selecione a Sprint</option>
          <option *ngFor="let sprint of sprints" [value]="sprint">
            {{ sprint }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="squad">Squad</label>
        <select
          id="squad"
          name="squad"
          required
          formControlName="squad"
          (ngModelChange)="onSquadChange($event)"
        >
          <option value="">Selecione a Squad</option>
          <option *ngFor="let squad of squads" [value]="squad">
            {{ squad }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="employeeName">Colaborador</label>
        <select
          id="employeeName"
          name="employeeName"
          required
          formControlName="employeeName"
        >
          <option value="">Selecione o Colaborador</option>
          <option *ngFor="let member of members" [value]="member">
            {{ member }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="allocatedHours">Horas Atividade</label>
        <input
          type="number"
          id="allocatedHours"
          formControlName="allocatedHours"
          placeholder="Horas Atividade"
          min="0"
        />
      </div>
      <!-- <div class="form-group">
        <label for="totalAllocatedHours"
          >Horas Totais Alocadas para Squad</label
        >
        <input
          type="number"
          disabled
          id="totalAllocatedHours"
          [value]="totalAllocatedHours"
        />
      </div> -->

      <!-- <div class="form-group">
        <label for="spentHours">Horas Sobrando</label>
        <input
          disabled
          type="number"
          id="spentHours"
          placeholder="Horas Gastas"
          [value]="totalSpentAllocatedHours"
        />
      </div> -->

      <!-- NOVA SEÇÃO: Cadastro de tarefas dentro da história -->
      <div class="form-group tasks-section" formArrayName="tasks">
        <h4>Tarefas da História</h4>
        <div
          *ngFor="let task of tasks.controls; let i = index"
          [formGroupName]="i"
          class="task-group"
        >
          <div class="form-group">
            <label>Título da Tarefa</label>
            <input
              type="text"
              formControlName="title"
              placeholder="Título da Tarefa"
            />
          </div>
          <div class="form-group">
            <label>Descrição da Tarefa</label>
            <input
              type="text"
              formControlName="description"
              placeholder="Descrição da Tarefa"
            />
          </div>
          <button type="button" (click)="removeTask(i)">Remover Tarefa</button>
        </div>
        <div class="add-task-button">
          <button type="button" (click)="addTask()">Adicionar Tarefa</button>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="save-button">
          {{ isEditing ? "Atualizar" : "Salvar" }} Atividade
        </button>
        <button
          type="button"
          class="delete-button"
          *ngIf="isEditing"
          (click)="deleteActivity(editActivityId!)"
        >
          Excluir
        </button>
      </div>
    </form>
  </div>
</div>
